@model CategoryItemViewModel

@{
	ViewData["Title"] = "Delete";
}
<div class="section">
	<h3 class="section-header">Delete Media Item</h3>
	<hr class="section-divider" />
	<h5 class="text-black-50">Are you sure you want to delete this media?</h5>
	<hr class="section-divider" />
	<h5>From category <strong class="text-black-50">@TempData["CategoryTitle"]</strong></h5>
	@{
		TempData.Keep("CategoryTitle");
	}
	<div class="container-fluid align-items-center mt-3">
		<div class="container col-md-8 ">
			<dl class="p-2 mt-3">
				<dt class="col-auto mb-2">
					<span class="text-lg-1-1-rem">Title</span>
				</dt>
				<dd class="col-auto">
					<strong class="text-lg-1-1-rem highlighted-text">@Model.Title</strong>
				</dd>
				<dt class="col-auto mb-2">
					Description
				</dt>
				<dd class="col-auto">
					@Model.Description
				</dd>
				<dt class="col-auto mb-2">
					Release Date
				</dt>
				<dd class="col-auto">
					@Model.DateTimeItemReleased.Date.ToString("dd.MM.yyyy")
				</dd>
			</dl>
			<div class="p-2 mt-3">
				<div class="col-auto mb-4">
					<form asp-controller="CategoryItem" asp-action="Delete" method="post">
						<input type="hidden" asp-for="Id" />
						<input type="hidden" asp-for="CategoryId" />
						<input type="submit" onclick="return confirm('This action can not be undone!\nAre you sure you want to proceed?');" value="Delete" class="btn btn-danger mb-1" /> |
						<a class="btn btn-outline-dark mb-1" asp-route-id="@Model.Id" asp-action="Edit"><i class="fa-solid fa-pen-to-square mr-1 ml-1"></i>Go to Edit Page</a> |
						<a class="btn btn-outline-dark mb-1" asp-action="Index" asp-route-categoryId="@Model.CategoryId"><i class="fas fa-angle-double-left mr-1 ml-1"></i>Back to List</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
