@model CategoryItemViewModel

@{
	ViewData["Title"] = "Details";
}
<div class="section">
	<h3 class="section-header">Media Item's Detalis</h3>
	<hr class="section-divider" />
	<h5>From category <strong class="text-black-50">@TempData["CategoryTitle"]</strong></h5>

	@{
		TempData.Peek("CategoryTitle");
	}
	<hr class="section-divider" />

	<div class="container-fluid align-items-center mt-3">
		<div class="container col-md-8 ">
		<dl class="p-2 mt-3">
				<dt class="col-auto mb-2">
					<span class="text-lg-1-1-rem">Title</span>
				</dt>
				<dd class="col-auto">
					<strong class="text-lg-1-1-rem highlighted-text">@Model.Title</strong>
				</dd>
				<dt class="col-auto mb-2">
					Description
				</dt>
				<dd class="col-auto">
					@Model.Description
				</dd>
				<dt class="col-auto mb-2">
					Release Date
				</dt>
				<dd class="col-auto">
					@Model.DateTimeItemReleased.Date.ToString("dd.MM.yyyy")
				</dd>
		</dl>
	
		<div class="p-2 mt-3">
				<div class="col-auto mb-4">
					<a class="btn btn-orchid mb-1" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
					<a class="btn btn-outline-dark mb-1" asp-action="Index" asp-route-categoryId="@Model.CategoryId"><i class="fas fa-angle-double-left mr-1 ml-1"></i>Back to List</a>
				</div>
			</div>
	</div>
</div>
</div>