@model IEnumerable<CategoryItemViewModel>

@{
	ViewData["Title"] = "Index";
}
<div class="section">
	<h3 class="section-header text-orange">All Media Items</h3>
	<h5 class="text-black-50">From category <strong>@ViewBag.CategoryTitle</strong></h5>
	<hr class="section-divider" />
	<div class="container-fluid align-items-center mt-3">
		<div class="container col-sm-10 mb-8">
			<p class="ml-2 mb-2">
				<partial name="_CreateButtonPartial" model="@ViewBag.CategoryId" />
				<a class="btn btn-outline-dark" asp-controller="Category" asp-action="Index"><i class="fas fa-angle-double-left mr-1 ml-1"></i>Back to all Categories</a>
			</p>

			<table class="table-responsive table-hover p-2">
				<thead class="text-center bg-smoke pt-2 pb-2">
					<tr>
						<th>
							@Html.DisplayNameFor(model => model.Title)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Description)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.DateTimeItemReleased)
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr class="border-bottom border-lime">
							<td style="vertical-align:middle" class="text-center pr-2 pb-2">
								@item.Title
							</td>
							<td style="vertical-align:middle" class="p-3">
								@if (item.Description.Length > 100)
								{
									@item.Description.Substring(0, 100);
									<span class="highlighted-text text-sm-0-8-rem">... View Details for more.</span>
								}
								else
								{
									@item.Description
								}
							</td>
							<td style="vertical-align:middle" class="pb-2">
								<div class="p-1">
									@item.DateTimeItemReleased.Date.ToString("dd.MM.yyyy")
								</div>
							</td>
							<td style="vertical-align:middle" class="pt-2 pb-2">
								<div class="btn-group-vertical" style="width:auto">
									<partial name="_RUDButtonsPartial" model="@item.Id" />

									@if (item.ContentId == 0)
									{
										<a asp-controller="Content" asp-action="Create"
								   asp-route-categoryItemId="@item.Id" asp-route-categoryId="@item.CategoryId" class="btn btn-outline-success"><i class="fa-solid fa-square-plus mr-2 ml-2"></i>Add Content</a>
									} 
									else
									{
										<a asp-controller="Content" asp-action="Edit"
								   asp-route-categoryItemId="@item.Id" asp-route-categoryId="@item.CategoryId" class="btn btn-outline-warning"><i class="fa-solid fa-pen-to-square mr-2 ml-2"></i>Edit Content</a>
									}
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
			<p>
				<partial name="_CreateButtonPartial" model="@ViewBag.CategoryId" />
				<a class="btn btn-outline-dark" asp-area="Admin" asp-controller="Category" asp-action="Index"><i class="fas fa-angle-double-left mr-1 ml-1"></i>Back to all Categories</a>
			</p>
		</div>
	</div>
</div>