@model Category

@{
    ViewData["Title"] = "Delete";
}

<div class="section">
    <h3 class="section-header">Delete</h3>
    <hr class="section-divider" />
    <h5 class="text-black-50">Are you sure you want to delete this category?</h5>
    <hr class="section-divider" />
    <div class="col-md-12 p-2">
        <h5>Category <strong class="text-black-50">@Html.DisplayFor(model => model.Title)</strong></h5>
        <dl class="row mt-3">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ThumbnailImagePath)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ThumbnailImagePath)
            </dd>
        </dl>
        <div class="card-img-top">
            <img src="@Model.ThumbnailImagePath" class="img-thumbnail" style="width:30em" alt="@Model.Title" />
        </div>
    </div>
    <div class="col-md-12 p-2">
        <div class="row p-2">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a class="btn btn-outline-dark" asp-action="Index"><i class="fas fa-angle-double-left mr-1 ml-1"></i>Back to List</a>
            </form>
        </div>
    </div>
</div>
