@model Category

@{
    ViewData["Title"] = "Details";
}
<div class="section">
    <h3 class="section-header">Details</h3>
    <h5>Category <strong class="text-black-50">@Html.DisplayFor(model => model.Title)</strong></h5>
    <hr class="section-divider" />
    <div class="col-md-12 p-2">
        <dl class="row mt-3">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ThumbnailImagePath)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ThumbnailImagePath)
            </dd>
        </dl>
        <div class="card-img-top">
            <img src="@Model.ThumbnailImagePath" class="img-thumbnail" style="width:30em" alt="@Model.Title" />
        </div>
    </div> 
    <div class="col-md-12 p-2">
        <div class="row p-2">
            <a class="btn btn-orchid" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> | 
            <a class="btn btn-outline-dark" asp-action="Index"><i class="fas fa-angle-double-left mr-1 ml-1"></i>Back to List</a>
        </div>
    </div>
</div>