@model IEnumerable<CategoryViewModel>

@{
	ViewData["Title"] = "Index";
}

<div class="section">
	<h3 class="section-header text-orange">All Categories</h3>
	<hr class="section-divider" />
	<div class="col-md-10 offset-lg-1">
	<p>
		<partial name="_CreateButtonPartial" model="0" />
	</p>
	
	
		<table class="table">
			<thead>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.Title)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Description)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.ThumbnailImagePath)
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td style="vertical-align:middle">
							@item.Title
						</td>
						<td style="vertical-align:middle">
							@item.Description
						</td>
						<td style="vertical-align:middle">
							<div class="card p-1">
								@item.ThumbnailImagePath
							</div>
						</td>
						<td style="vertical-align:middle">
							<div class="btn-group-vertical" style="width:8em">
								<partial name="_RUDButtonsPartial" model="@item.Id" />
								<a asp-area="Admin" asp-controller="CategoryItem" asp-action="Index" asp-route-categoryId="@item.Id"
							   class="btn btn-outline-orchid">Update Items</a>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
		</div>
	</div>
