@model MediaTypeViewModel

@{
	ViewData["Title"] = "Delete";
}

<div class="section">
	<h3 class="section-header">Are you sure you want to delete this media type?</h3>
	<hr class="section-divider" />
	<div class="container-fluid align-items-center mt-3">
		<div class="container col-md-8 mb-8">
			<dl class="p-2 mt-3">
				<dt class="col-auto mb-2">
					Title
				</dt>
				<dd class="col-auto">
					@Model.Title
				</dd>
				<dt class="col-auto mb-2">
					Thumbnail Image Path
				</dt>
				<dd class="col-auto">
					@Model.ThumbnailImagePath
				</dd>
				<dd class="col-auto">
					<img src="@Model.ThumbnailImagePath" class="img-thumbnail" style="width:30em" alt="@Model.Title" />
				</dd>
			</dl>
			<div class="p-2 mt-3">
				<div class="col-auto mb-4">
					<form asp-action="Delete" method="post">
						<input type="hidden" asp-for="Id" />
						<input onclick="return confirm('This action can not be undone!\nAre you sure you want to proceed?');" type="submit" value="Delete" class="btn btn-danger mb-1" /> |
						<a class="btn btn-outline-dark mb-1" asp-route-id="@Model.Id" asp-action="Edit"><i class="fa-solid fa-pen-to-square mr-1 ml-1"></i>Go to Edit Page</a> |
						<a class="btn btn-outline-dark mb-1" asp-action="Index"><i class="fas fa-angle-double-left mr-1 ml-1"></i>Back to List</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>