@model MediaTypeViewModel

@{
	ViewData["Title"] = "Details";
}
<div class="section">
	<h3 class="section-header">Media Type Detalis</h3>
	<hr class="section-divider" />
	<div class="container-fluid align-items-center mt-3">
		<div class="container col-md-8 mb-8">
			<dl class="p-2 mt-3">
				<dt class="col-auto mb-2">
					Title
				</dt>
				<dd class="col-auto">
					@Model.Title
				</dd>
				<dt class="col-auto mb-2">
					Thumbnail Image Path
				</dt>
				<dd class="col-auto">
					@Model.ThumbnailImagePath
				</dd>
				<dd class="col-auto">
					<img src="@Model.ThumbnailImagePath" class="img-thumbnail" style="width:30em" alt="@Model.Title" />
				</dd>
			</dl>
			<div class="p-2 mt-3">
				<div class="col-auto mb-4">
					<a class="btn btn-orchid mb-1" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> | 
					<a class="btn btn-outline-dark mb-1" asp-action="Index"><i class="fas fa-angle-double-left mr-1 ml-1"></i>Back to List</a> | 
					<a class="btn btn-outline-danger mb-1" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
				</div>
			</div>
		</div>
	</div>
</div>