@model IEnumerable<MediaTypeViewModel>

@{
	ViewData["Title"] = "Index";
}

<div class="section">
	<h3 class="section-header text-orange">All Media Types</h3>
	<hr class="section-divider" />
	<div class="container-fluid align-items-center mt-3">
		<div class="container col-md-8 mb-8">
			<p>
				<partial name="_CreateButtonPartial" model="0" />
			</p>
			<table class="table-responsive table-hover">
				<thead class="text-center bg-smoke">
					<tr>
						<th class="card-title text-left p-3">
							@Html.DisplayNameFor(model => model.Title)
						</th>
						<th class="card-title p-3">
							@Html.DisplayNameFor(model => model.ThumbnailImagePath)
						</th>
						<th class="card-title pt-2 pb-2"></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr class="border-bottom border-lime">
							<td style="vertical-align:middle" class="p-3">
								@item.Title
							</td>
							<td style="vertical-align:middle" class="p-3">
								<div class="card p-1">
									<img src="@item.ThumbnailImagePath" class="img-thumbnail" style="width:15em" alt="@item.Title" />
								</div>
							</td>
							<td style="vertical-align:middle" class="p-3">
								<div class="btn-group-vertical" style="width:max-content">
									<partial name="_RUDButtonsPartial" model="@item.Id" />
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
			<p></p>
		</div>
	</div>
</div>

